@use "./reset" as *;
@use "./variables" as *;
@use "./header" as *;
@use "./hero" as *;
@use "./features" as *;
@use "./cta" as *;
@use "./footer" as *;


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    color: $white;
    background: linear-gradient(180deg, $bg 0%, #0b0c10 100%);
    line-height: 1.6;
    font-size: var(--fs-400);
}

.container {
    width: min(1200px, 92vw);
    margin: 0 auto;
}

.lead {
    color: $muted;
    font-size: var(--fs-500);
    margin-bottom: 1.5rem;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid transparent;
    padding: 0.9rem 1.2rem;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 0.15s;

    &:active {
        transform: translateY(1px);
    }

    &--primary {
        background: linear-gradient(135deg, $brand, $brand-2);
        color: $white;
    }

    &--ghost {
        background: transparent;
        border: 1px solid rgba($white, 0.08);


    }
}

.input {
    background: $card;
    border: 1px solid rgba($white, 0.08);
    color: $white;
    padding: 0.9rem 1rem;
    border-radius: 0.75rem;
    width: 100%;
}

@media (max-width: $bp-lg) {
    :root {
        --fs-800: 34px;
        --fs-700: 24px;
        --fs-600: 20px;
    }

    .hero__grid {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .features__grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width: $bp-md) {
    .header__bar {
        grid-template-columns: 1fr auto;
    }

    .nav__toggle {
        display: flex;
    }

    .nav__list {
        display: none;
    }

    .hero {
        padding: 3.5rem 0 2rem;

        &__grid {
            grid-template-columns: 1fr;
        }

        &__visual {
            order: -1
        }
    }

    .features__grid,
    .cta {
        grid-template-columns: 1fr;
    }

    .footer__grid {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: $bp-sm) {
    :root {
        --fs-800: 28px;
        --fs-700: 22px;
        --fs-600: 18px;
        --fs-500: 15px;
    }

    .container {
        width: min(1000px, 94vw);
    }

    .btn {
        padding: 0.8rem 1rem;
    }

    .hero__visual {
        grid-auto-rows: 110px;

        .card_lg {
            min-height: 180px;
        }
    }

    .cta__box {
        padding: 1.25rem
    }

}